{# src/KG/UserBundle/Resources/views/layout.html.twig #}

{% extends "KGSiteBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}  
    {% stylesheets filter='cssrewrite' 
        '@KGUserBundle/Resources/public/css/layout.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}        
{% endblock %}

{% block body %}
    <div class="col-xs-12" id="body">
        {# On affiche les messages flash que définissent les contrôleurs du bundle #}
        {% for key, messages in app.session.flashbag.all %}
            {% for message in messages %}
                {% if loop.first %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-{{ key }}" role="alert">
                {% endif %}
                                {{ message|trans({}, 'FOSUserBundle') }}
                {% if loop.last %}        
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}    
        {% endfor %}
     
        {% block form_error %}{% endblock %}
        
        {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>  
{% endblock %}