{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}BeeManager{% endblock %}</title>

        {% block stylesheets %}
          <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {% endblock %}
      
        <style>{% block style %}{% endblock %}</style>
    </head>

    <body>
        <!-- Header -->
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
          <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-toggle"></span>
                </button>
                <a class="navbar-brand" href="#">BeeManager</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">

              <li class="dropdown">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                  <strong>Admin</strong> <span class="caret"></span></a>
                <ul id="g-account-menu" class="dropdown-menu" role="menu">
                  <li><a href="#">Mon Profil</a></li>
                </ul>
              </li>

              <li><a href="#">Déconnexion</a></li>
            </ul>
          </div>
        </div>
        <!-- /Header -->
        
        <!-- Main -->
        <div class="container">
            <div class="row">
                <div class="col-xs-5 col-sm-4 col-md-3 col-lg-3">
                <!-- Left -->
                    <strong>Exploitation</strong>
                    <hr>
                        <ul class="nav nav-pills nav-stacked">
                            <li {% block rucher %}{% endblock %}><a href="{{ path('kg_beekeeping_management_home_rucher') }}" title="Rucher">Rucher</a></li>
                            <li {% block stock %}{% endblock %}>
                                <a class="nav-container" data-toggle="collapse" data-parent="#stacked-menu" href="#p2">Gestion des stocks <span class="caret arrow"></span></a>          
                                <ul class="nav nav-pills nav-stacked collapse" id="p2">
                                  <li><a href="{{ path('kg_beekeeping_management_home_stock') }}" title="Stock">Lieux de stockage</a></li>
                                  <li><a href="#">Vue des stocks</a></li>
                                </ul>
                            </li>
                        </ul>
                </div><!-- /span-3 -->
                <div class="col-xs-7 col-sm-8 col-md-9 col-lg-9">
                <!-- Right -->
                    {% block body %}
                    {% endblock %}
                </div><!--/col-span-9-->
            </div>
        </div>
        <!-- /Main -->                

      {% block javascripts %}
        {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      {% endblock %}
    </body>
</html>
