# app/config/security.yml

security:
    encoders:
        KG\UserBundle\Entity\User: sha512

    role_hierarchy:
        ROLE_ADMIN:       [ROLE_USER]       
        ROLE_SUPER_ADMIN: [ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH] 

    providers:
        main:
            id: fos_user.user_provider.username

    firewalls:
        dev:
            pattern:        ^/(_(profiler|wdt)|css|images|js)/
            security:       false
        main:
            pattern:        ^/
            anonymous:      true
            provider:       main
            form_login:
                login_path: fos_user_security_login
                check_path: fos_user_security_check
                always_use_default_target_path : true
                default_target_path: /manager/exploitation/afficher-exploitation
            logout:
                path:       fos_user_security_logout
                target:     /
            remember_me:
                key:        %secret%    
                
    access_control:
        - { path: ^/manager, roles: ROLE_USER }
    
