{# src/KG/BeekeepingManagementBundle/Resources/views/Rucher/add.html.twig #}

{% extends "::layout.html.twig" %}

{% block body %}

  <h2>Ajouter un rucher</h2>

  {{ include("KGBeekeepingManagementBundle:Rucher:form.html.twig") }}

{% endblock %}

