{# src/KG/BeekeepingManagementBundle/Resources/views/Rucher/view.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Ruchers{% endblock %}

{% block rucher %}class="active"{% endblock %}

{% block body %}
    <strong>Rucher</strong>  

    <hr>
    
    <div class="row">
        <div class="col-md-12">
            

        </div>
    </div>
{% endblock %}