{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}
<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <head>        
	<style type="text/css">         
        </style>  
    </head>

    <body>
        <!-- Main -->
        <table>
            <tr>
            {% set nbRuches = 0 %}
            {% for emplacement in rucher.emplacements %}    
                {% if emplacement.ruche %} 
                    {% if  ( nbRuches % 4 ) == 0 and nbRuches > 0 %}
                        </tr>
                        <tr>
                    {% endif %}
                    {% set nbRuches = nbRuches + 1 %}
                    <td>
                        <strong>{{ emplacement.ruche.nom }}</strong>
                        <img src="{{ qrcode_url( app.request.getSchemeAndHttpHost() ~ path('kg_beekeeping_management_view_ruche', { 'ruche_id': emplacement.ruche.id }), extension='jpg') }}" />            
                    </td>
                {% endif %}
            {% endfor %}  
            </tr>
        </table> 
        <!-- /Main -->                
    
    </body>
</html>