{% extends 'KGSiteBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}  
    {% stylesheets filter='cssrewrite' 
        '@KGBeekeepingManagementBundle/Resources/public/css/layout.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}        
{% endblock %}

{% block menu_user %}
    
{% endblock %}
    
{% block body %}
    {% if is_granted('ROLE_USER') %}
        {{ parent() }}
        <div class="col-xs-12">
            <div class="row">
                {% block screen %}
                {% endblock %} 
            </div>
        </div>
    {% endif %}     
{% endblock %}                