{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends 'KGSiteBundle::layout.html.twig' %}
    
{% if is_granted('ROLE_USER') %}
    {% block body %}
        {{ parent() }}

        {% block menu %}
        {% endblock menu %}

        {% include 'BraincraftedBootstrapBundle::flash.html.twig' %} 

        {% block contain_body %}
        {% endblock %}
    {% endblock %}
    
    {% block footer %}
        <footer>
            <hr>
            <div class="row">
                <div class="col-md-12" align="center">
                    <p>OpenHiveManager n'est pas une application gratuite. C'est une application participative. <a title="Participez" href="{{ path('kg_site_participer') }}">Pour la faire vivre, participez! </a></p>
                    <p>Une question? Un besoin? Une anomalie? <a title="Contactez-nous" href="{{ path('kg_site_contact') }}">Contactez-nous!</a></p>
                </div>                                                      
            </div>
        </footer>  
    {% endblock %}   

{% endif %}     