{% extends 'KGSiteBundle::layout.html.twig' %}

{% block menu_user %}
    
{% endblock %}

{% block menu_exploitation %}
    {{ render(controller("KGBeekeepingManagementBundle:Exploitation:menu")) }}
{% endblock %}
    
{% block body %}
    {% if is_granted('ROLE_USER') %}
        {{ parent() }}
        <div class="col-xs-12">
            {% block screen %}
            {% endblock %} 
        </div>
    {% endif %}     
{% endblock %}                