{% extends 'KGSiteBundle::layout.html.twig' %}

{% block menu_user %}
    
{% endblock %}
    
{% block body %}
    {% if is_granted('ROLE_USER') %}
        {{ parent() }}
        <div class="col-xs-12">
            <ol class="breadcrumb">
            {% block breadcrumbs %}
                <li><a href="{{ path('kg_beekeeping_management_home') }}">Accueil</a></li>
            {% endblock %} 
            </ol>
            <hr>
            {% block screen %}
            {% endblock %} 
        </div>
    {% endif %}     
{% endblock %}                