{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Ruche{% endblock %}

{% block menu %}
    {% set colonie = ruche.colonie %}
    {% include 'KGBeekeepingManagementBundle::menuRuche.html.twig' %}
{% endblock menu %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>QRCode de la ruche</h4>
        </div>
    </div>
{% endblock %}
{% block panel_body %}         
    <div class="row">
        <div class="col-sm-3" align="center"> 
            <img alt="QR Code {{ ruche.nom }}" src="{{ qrcode_url( app.request.getSchemeAndHttpHost() ~ path('kg_beekeeping_management_view_ruche', { 'ruche_id': ruche.id }), extension='jpg') }}" />            
        </div> 
        <div class="col-sm-9">
            <h4>Comment utiliser le QR code</h4>
            <p>
                Le QR Code vous permettra, une fois collé sur votre ruche, de pouvoir accéder à ses informations en quelques secondes.
                Pour l'imprimer, faites un clic-droit dessus et choisissez "Enregistrer l'image sous". Un fichier contenant le QR Code sera télécharger sur votre machine.
                Ouvrez le et imprimez le comme vous le feriez avec n'importe quel autre fichier.
            </p>
            
            <h4>Astuce</h4>
            <p>
                Vous souhaitez imprimer plusieurs QR code sur la même page? Faites un clic droit sur un QR Code puis cliquez sur "Copier l'image". 
                Ouvrez un logiciel de traitement de texte et faites un clic droit et "coller". 
                Reproduisez ces étapes pour chaque QR code que vous souhaiterez imprimer.
            </p>
        </div>
    </div>        
{% endblock %}