{# src/KG/SiteBundle/Resources/views/Accueil/index.html.twig #}

{% extends "KGSiteBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 
        '@KGSiteBundle/Resources/public/css/business-frontpage.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}  
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts %}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
    {% endjavascripts %}
{% endblock %}

{% block header %}
    <header class="business-header">
    </header>    
{% endblock %}    

{% block body %}
   
    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    OpenHiveManager<br/>
                    <small>La première application participative de gestion apicole</small>
               </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Libre &amp; Open Source</h4>
                    </div>
                    <div class="panel-body">
                        <p>Parce que nous souhaitons que tout le monde soit libre d'utiliser OpenHiveManager ou de la faire évoluer à sa guise, l'application est développée sous licence GNU et le code source est disponible sur Github.</p>
                        <a href="https://www.gnu.org/philosophy/free-sw.fr.html" class="btn btn-success">Licence GNU</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Développement participatif</h4>
                    </div>
                    <div class="panel-body">
                        <p>Parce que nous souhaitons que tout le monde puisse apporter sa pierre à l'édifice, nous serons toujours à l'écoute des évolutions que vous souhaiterez voir apparaître dans OpenHiveManager.</p>
                        <a href="#" class="btn btn-warning">Contactez-nous</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Financement participatif</h4>
                    </div>
                    <div class="panel-body">
                        <p>Parce que nous avons besoin d'argent pour assurer la pérennité et l'évolutivité d'OpenHiveManager et que nous nous refusons à tout autre mode de financement, comme la publicité, par exemple. </p>
                        <a href="#" class="btn btn-danger">Faites un don</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Fonctionnalités</h2>
            </div>
            <div class="col-md-6">
                <p><strong>OpenHiveManager intègre les fonctionnalités suivantes :</strong></p>
                <ul>
                    <li>Gestion multi exploitations</li>
                    <li>Archivage des visites de vos ruches</li>
                    <li>Suivi des conditions météorologique de vos ruchers</li>
                    <li>Transhumance de vos ruches</li>
                    <li>Suivi de la ligné de vos colonnies</li>       
                </ul>
                <p><strong>D'autres fonctionnalités sont en phase de développement :</strong></p>
                <ul>
                    <li>Traduction du site dans plusieurs langues</li>
                    <li>Mode collaboratif pour travailler à plusieurs sur une exploitation</li>
                    <li>Editabilité des fiches de visistes</li>
                    <li>Statistiques par colonnies, ruches, ruchers, exploitation ...</li>
                    <li>Inventaire du matériel</li>
                    <li><strong>Et plein d'autres encore...</strong></li>
                </ul>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

{% endblock %}