body { 
    padding-top: 120px;
}

footer { 
    margin-bottom: 50px;
}

#logo{
    width: 600px;
}

.navbar-inner{
    /*height: 90px*/
    min-height: 60px
    }
#top-nav .navbar-brand{
    padding: 0 10px;
}
#top-nav .nav > li > a {
    padding: 20px 15px;
    /*padding: 35px 15px;*/
}
#top-nav .navbar-toggle {
    /*margin-right: 0px;*/
    margin-top:10px;
}
.navbar-brand img{
    margin-top: 5px
}
@media (max-width:768px) {
    .navbar-brand img{
        margin-bottom: 5px
    }
    #top-nav .btn-navbar{
        /*margin-right: -15px;*/
    }
    #top-nav .nav > li > a {
        padding: 10px 15px;
    }
}