{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block meta %}
            <meta property="og:locale" content="fr_FR" />
            <meta property="og:title" content="OpenHiveManager" />
            <meta property="og:type" content="article" />
            <meta property="og:description" content="Le premier logiciel participatif de gestion apicole" />
            <meta property="og:url" content="http://www.openhivemanager.org" />
            <meta property="og:site_name" content="OpenHiveManager" />
            <meta property="og:image" content="http://www.openhivemanager.org/logo_ogpng" /> 
            <meta property="og:image:width" content="200" />

            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
	{% endblock %}
        
        <title>OpenHiveManager{% block sitetitle %}{% endblock %}</title>
        
        <!-- Global stylesheets -->
        {% block stylesheets %}

        {% endblock %}
        <!-- /global stylesheets -->
        
    </head>

    <body {% block classbody %}{% endblock %}>

	<!-- Main navbar -->
        {% block mainnavbar %}

        {% endblock %}
	<!-- /main navbar -->


	<!-- Page container -->
        {% block pagecontainer %}

        {% endblock %}
	<!-- /page container -->
               
        {% block javascripts %}       
            <!-- Piwik -->
            <script type="text/javascript">
              var _paq = _paq || [];
              _paq.push(['trackPageView']);
              _paq.push(['enableLinkTracking']);
              (function() {
                    var u="//analytics.openhivemanager.org/";
                    _paq.push(['setTrackerUrl', u+'piwik.php']);
                    _paq.push(['setSiteId', 1]);
                    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
              })();
            </script>
            <noscript><p><img src="//analytics.openhivemanager.org/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
            <!-- End Piwik Code -->	           
        {% endblock %}    
    </body>
    
</html>
